.q-page-container
  background $grey-1

.q-page
.q-header
  padding 24px
  background $grey-1
  max-width 80%
  margin 0 auto

h1
h2
h3
h4
h5
h6
p
  margin 0

.card-modal
  width 600px
  max-width 80vw
